body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.blog-content {
    text-align: center;
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
}

.recipe-card {
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
}

.recipe-image {
    width: 100%;
    height: 100%;
}

.recipe-content {
    padding: 1rem;
}

.recipe-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.recipe-description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.recipe-tags {
    display: flex;
    gap: 0.5rem;
}

.tag {
    background-color: #e8f0df;
    color: #2e4520;
    padding: 0.3rem 0.8rem;
    border-radius: 999px;
    font-size: 0.8rem;
}

footer {
    color: #C0CC9B;
    background-color: rgb(35, 34, 34);
    padding: 1.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}

.footer-elements {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}